body {
	width:200px;
	height:200px;
	margin: 0px;
}

#bg {
	width: 100%;
	height: 100%;
	background-image: url("youtube-bg.jpg");
	background-size: 100% 100%;
	opacity: 0.1;
}

p {
	font-family: "Comic Sans MS", cursive, sans-serif;
	width:75%;
	float: left;
	margin-left: 5%;
}